protogeni/rspec/protogeni-rspec-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:top="http://emulab.net/resources/top/0.2">
  <xs:import namespace="http://emulab.net/resources/top/0.2" schemaLocation="top.xsd"/>
  <!--
    
    EMULAB-COPYRIGHT
    Copyright (c) 2008 University of Utah and the Flux Group.
    All rights reserved.
    
  -->
  <!--
    
    Simple prototype of an RSpec, to be used by ProtoGENI
    
  -->
  <!-- Add some more stuff to nodes -->
  <xs:group name="NodeSpec">
    <xs:sequence>
      <xs:element minOccurs="0" ref="avaiable"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="avaiable" type="xs:boolean"/>
  <xs:attributeGroup name="NodeSpec">
    <xs:attribute name="uuid" use="required"/>
    <xs:attribute name="name"/>
    <xs:attribute name="virtualization_type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="raw"/>
          <xs:enumeration value="trellis-vserver"/>
          <xs:enumeration value="planetlab-vserver"/>
          <xs:enumeration value="emulab-vnode"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="rspec">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="NodeSpec"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="top:link"/>
      </xs:sequence>
      <xs:attribute name="generated" use="required" type="xs:dateTime"/>
      <xs:attribute name="valid_until" use="required" type="xs:dateTime"/>
      <xs:attribute name="uuid"/>
      <xs:attribute name="name"/>
      <xs:attribute name="virtualization_type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="raw"/>
            <xs:enumeration value="trellis-vserver"/>
            <xs:enumeration value="planetlab-vserver"/>
            <xs:enumeration value="emulab-vnode"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="uuid"/>
      <xs:attribute name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
