assign/top.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://emulab.net/resources/ptop/0.1" xmlns:ptop="http://emulab.net/resources/ptop/0.1">
  <!--
    
    EMULAB-COPYRIGHT
    Copyright (c) 2005-2007 University of Utah and the Flux Group.
    All rights reserved.
    
  -->
  <!--
    
    Definition of common data structures used for representing topologies -
    shared between vtop (virtual topology) and ptop (physical topology)
    formats.
    
  -->
  <xs:element name="node_type">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type_name" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name of the type - will almost certainly not be unique</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:choice>
          <xs:element ref="ptop:type_slots"/>
          <xs:element ref="ptop:unlimited"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ptop:static"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type_slots">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="unlimited">
    <xs:complexType/>
  </xs:element>
  <xs:element name="static">
    <xs:complexType/>
  </xs:element>
  <xs:element name="node" type="ptop:NodeContents"/>
  <xs:complexType name="NodeContents">
    <xs:sequence>
      <xs:group ref="ptop:NodeSpec.NodeType"/>
      <xs:group ref="ptop:NodeFlagSpec">
        <xs:annotation>
          <xs:documentation>Legacy flags</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ptop:fd">
        <xs:annotation>
          <xs:documentation>Legacy features and desires</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ptop:property"/>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>
  <xs:group name="NodeSpec.NodeType">
    <xs:annotation>
      <xs:documentation>A node can (by default) have one or more types</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ptop:node_type"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="link_type">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="link" type="ptop:LinkContents"/>
  <xs:complexType name="LinkContents">
    <xs:sequence>
      <xs:group ref="ptop:LinkEndPoints">
        <xs:annotation>
          <xs:documentation>The two interfaces which form the endpoints of this link.</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:group ref="ptop:LinkCharacteristics">
        <xs:annotation>
          <xs:documentation>The characteristics (bandwidth, latency, loss) which affect traffic.</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:group ref="ptop:LinkSpec.LinkType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ptop:property">
        <xs:annotation>
          <xs:documentation>Properties of this link</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="required">
      <xs:annotation>
        <xs:documentation>Name of the link - must be unique in the top</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:group name="LinkEndPoints">
    <xs:sequence>
      <xs:element ref="ptop:source_interface"/>
      <xs:element ref="ptop:destination_interface"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="source_interface" type="ptop:InterfaceSpec">
    <xs:annotation>
      <xs:documentation>First interface for this link</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="destination_interface" type="ptop:InterfaceSpec">
    <xs:annotation>
      <xs:documentation>Second interface for this link</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:group name="LinkCharacteristics">
    <xs:sequence>
      <xs:element ref="ptop:bandwidth"/>
      <xs:element ref="ptop:latency"/>
      <xs:element ref="ptop:packet_loss"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="bandwidth">
    <xs:annotation>
      <xs:documentation>Bandwidth of the link in kbps</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:float">
        <xs:minExclusive value="0.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="latency">
    <xs:annotation>
      <xs:documentation>Latency of the link in ms</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:float">
        <xs:minInclusive value="0.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="packet_loss">
    <xs:simpleType>
      <xs:restriction base="xs:float">
        <xs:minInclusive value="0.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:group name="LinkSpec.LinkType">
    <xs:annotation>
      <xs:documentation>A link can (by default) have zero or more types</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ptop:link_type"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="fd">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ptop:fd_name"/>
        <xs:element ref="ptop:fd_weight"/>
        <xs:element minOccurs="0" name="violatable">
          <xs:complexType/>
        </xs:element>
        <xs:choice minOccurs="0">
          <xs:annotation>
            <xs:documentation>Type information expressed in features and desires</xs:documentation>
          </xs:annotation>
          <xs:element ref="ptop:global"/>
          <xs:element ref="ptop:local"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fd_name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of this feature or desire</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="fd_weight" type="xs:float">
    <xs:annotation>
      <xs:documentation>Weight assocated with the feature or desire</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="global">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="operator">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="OnceOnly"/>
              <xs:enumeration value="FirstFree"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="local">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="operator">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="NodeFlagSpec">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ptop:trivial_bandwidth"/>
      <xs:element minOccurs="0" ref="ptop:subnode_of"/>
      <xs:element minOccurs="0" ref="ptop:unique"/>
      <xs:element minOccurs="0" ref="ptop:disallow_trivial_mix"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="trivial_bandwidth" type="xs:integer"/>
  <xs:element name="subnode_of" type="xs:string"/>
  <xs:element name="unique">
    <xs:complexType/>
  </xs:element>
  <xs:element name="disallow_trivial_mix">
    <xs:complexType/>
  </xs:element>
  <xs:complexType name="InterfaceSpec">
    <xs:annotation>
      <xs:documentation>Interfaces</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="interface" type="ptop:InterfaceContents"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterfaceContents">
    <xs:sequence>
      <xs:element ref="ptop:node_name"/>
      <xs:element name="interface" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the interface itself</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ptop:property">
        <xs:annotation>
          <xs:documentation>Properties of the interface</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="node_name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of the node, which must match one of the nodes in this topology</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ptop:property_name"/>
        <xs:element ref="ptop:property_value"/>
        <xs:element ref="ptop:property_penalty"/>
        <xs:element minOccurs="0" name="violatable">
          <xs:annotation>
            <xs:documentation>If this flag is present, not having the property is considered a violation</xs:documentation>
          </xs:annotation>
          <xs:complexType/>
        </xs:element>
        <xs:choice minOccurs="0">
          <xs:element ref="ptop:global"/>
          <xs:element ref="ptop:local"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="property_name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of this property</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="property_value" type="xs:string"/>
  <xs:element name="property_penalty">
    <xs:annotation>
      <xs:documentation>The penalty associated with this property</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:float">
        <xs:minInclusive value="0.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
